<div class="row">



  <div class="list-group col-9">
    <a  *ngFor="let x of wishlist | paginate : { itemsPerPage: 5, currentPage: p, totalItems : total }"  href="#" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h1 class="mb-1">{{ x["id"] }}) {{ x["name"] }}</h1>
      </div>
      <p class="mb-1">Some placeholder content in a paragraph.</p>
      <small class="text-muted">And some muted small print.</small>
    </a>
  </div>


</div>
